.detailedMovie {
  display: flex;

  gap: 20px;
  padding: 20px;
 margin-top: 4rem;
  .moviePoster img {
    width: 300px;
    height: auto;
    box-shadow: 0x 0px 15px rgba(0, 0, 0, 0.2);
  }

  .movieDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 15px;
      color :grey
    }
    .movieDescriptionList {
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    button {
      padding: 10px 15px;
      border: none;
      background-color: #ff9800;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      width: 50%;
      margin: 0 auto;
      &:hover{
        background-color: #ff7506;
      }
    }
  }
}



@media (max-width: 768px) {

  .detailedMovie {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    // padding: 20px;
   margin-top: 4rem;
    .moviePoster img {
   width: 100%;  
    height: auto;
      box-shadow: 0x 0px 15px rgba(0, 0, 0, 0.2);
    }
  
    .movieDescription {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      h2 {
        margin-bottom: 10px;
        font-size: 1rem;
        width: 100%;
      }
  
      p {
        margin-bottom: 15px;
        color :grey
      }
      .movieDescriptionList {
        display: flex;
        flex-direction: column;
        text-align: left;
      }
  
      button {
        padding: 10px 15px;
        border: none;
        background-color: #ff9800;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        width: 70%;
        margin: 0 auto;
        &:hover{
          background-color: #ff7506;
        }
      }
    }
  }
  
}